#container{
    width: 100%;
    height: auto;
/*    border: 1px solid #000;*/
}
header{
    width: 66.6668%;
    height: 100px;
    margin-left: 16.6666%;
    margin-right: 16.6666%;
    margin-top: 1%;
    position: fixed;
    z-index: 111;
    border: 3px solid  #721124;
    border-radius: 50px;
    background-color: rgba(225,225,225,.7);
}
.menu{
    width: 66.6668%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 16.6666%;
    margin-right: 16.6666%;

}
.menu>li{
    list-style: none;
}
.menu>li>a{
    color: #721124;
    font-weight: bold;
    text-decoration: none;
}
.menu>li:hover a{
     border-bottom: 3px solid #721124;
}
.menu .logo:hover >a{
    border: none;

}
#main{
    width: 100%;
    height: 700px;

}
.images{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide1{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url(image/slide1.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slide2{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url(image/slide2.png) no-repeat;
    background-size: cover;
     display: flex;
    justify-content: center;
    align-items: center;
}
.slide3{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url(image/slide3.png) no-repeat;
    background-size: cover;
     display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txts{
    width: 100%;
    height: auto;
   text-align: center;
    position: absolute;
    bottom: 10%;
/*border: 1px solid #000;*/
    color: white;
    font-size: 2.6rem;
    font-family: "궁서체";
}
/*main*/
#content1{
    width: 100%;
    height: 0;
    padding-top: calc(500/1200*100%);
    background: url(image/bg1.png) no-repeat;
    background-size: cover;
    position: relative;
}
.today{
    position: absolute;
    width: 16.4%;
    height: auto;
   left: 12%;
    top: 25%;
}
.today>img{
    width: 100%;
    height: auto;
}
.center{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35%;
    top: 30%
}
.every{
    width: 100%;
    height: auto;
}
.every>img{
    width: 100%;
    height: auto;
}
.pick{
    width: 100%;
    height: auto;
    margin-top: 10%;
}
.pick>img{
    width: 100%;
    height: auto;
}
.button_1{
/*    width: 28%;*/
    width: 150px;
    height: auto;
    border: 3px solid #721124;
    color: #721124;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    padding: 1% 3%;
    margin-top: 10%;
    cursor: pointer;
}
.button_1:hover{
    background-color:  #721124;
    color: #e2a287;
    transition: all .7s ease;
}
.special{
    position: absolute;
    width: 10.91666666%;
    height: auto;
    top: 12%;
    right: 5%;
}
.special>img{
    width: 100%;
    height: auto;
}
.bean{
    position: absolute;
    width: 30%;
    height: auto;
    right: 0;
    bottom: 0;
}
.bean>img{
    width: 100%;
    height: auto;
}
#content2{
    width: 100%;
    height: 0 !important;
    padding-bottom: calc(400/1200*100%);
    background: url(image/bg2.png) no-repeat;
    background-size: cover;



}
.tm{
    width:300px;
    height: auto;
    cursor: pointer;
    margin:  auto;
    position: relative;
   padding-top: 5%;
}
.tm1, .tm1_2{
    width: 300px;
    height: auto;
    position: absolute;
    left: 0;
    top: 100%;
}
.tm img{
    width: 100%;
    height: auto;

}
.tm1{
/*    padding-top: 5%;*/
}
.tm2{
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tm:hover .tm1{
    opacity: 0;
     transition: all .8s;
}
.tm:hover .tm2{
    transform: rotateY(180deg);
    transition: all 0.8s;
     opacity: 1;
}
.button_2{
    width: 100px;
    height: auto;
    color:  #721124;
    border: 3px solid #721124;
    position: absolute;
    bottom: 15%;
    font-size: 2rem;
    text-align: center;
    padding: 2% 5%;
}
.tm:hover .tm2>.button_2{
     transform: rotateY(180deg);
    transition: all 0.8s;
}
.button_2:hover{
    background-color:  #721124;
    color: white;
     transition: all 0.8s;
}
#content3{
    width: 100%;
    height: 600px;
    background: #721124;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 90%;
    height: 80%;
    border: 5px solid #f1d2ac;
    display: flex;
    justify-content: space-around;
}
.left{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 12%;

}
.title{



}
.icons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.icon{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #b92d2a;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.icon:hover{
    transform: rotateY(360deg);
     transition: all .7s ease;
}
.button_3{
     width: 150px;
    height: auto;
    border: 3px solid #f1d2ac;
    color: #f1d2ac;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    padding: 1% 3%;
    cursor: pointer;
}
.button_3:hover{
    background-color: #f1d2ac;
    color: #721124;
    font-weight: bold;
     transition: all .7s ease;
}
.right{
    width: 40%;
    height: auto;
    display:flex;
    flex-direction: column;
    text-align: right;
    margin-right: 16.6666666%;
    justify-content: space-around;
/*    border: 1px solid #000;*/
}
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    color: #721124;
    background-color: white;
}
footer p{
    padding-top: 10px;
    height: 20px;
    line-height: 20px;
    font-weight: bolder;
}
footer>.flogo{
    width: 100%;
    height: auto;
}
