.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    opacity: 0;
    display: none;
}
.under{
    width: 700px;
    height: 900px;
    position: fixed;
    top: 1%;
    left: 30%;
    background-color: white;
    padding: 20px;
}
.modal h1{
    color: #721124;
}
.close{
text-align: center;    
}
.close>button{
    width: 70px;
    height: 40px;
    border: none;
    background-color: #721124;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.on{
    display: block;
    opacity: 1;
}
body{
    font-family: sans-serif,"맑은 고딕";
    font-size: 1em;
    text-align: center;
}
h1,h2,h3,h4,h5,h6,p,nav{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
#container{
    width: 100%;
}
.header{
   width: 100%;
    height: 130px; 
   margin: 0 auto;
    position: fixed;
    top: 10px;
    z-index: 100;
}
.wh{
        width: 820px;
    height: 126px;
     margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    position: relative;
}
.header .menu{
    width: 780px;
    height: 100px;
     margin: 0 auto;
    text-align: center;
    border-radius: 30px;
/*    background-color: white;*/
   position: absolute;
    left: 20px;
    top: 10px;
    border: 3px solid #721124;
}
.menu li{
    width: 120px;
    height: 50px;
    float: left;
    margin-top: 30px;
    text-align: center;
   
   
}
.menu li a{
    line-height: 50px;
    color: #721124;
    font-weight: 700;
    

}
.menu li:hover >a{
/*   font-size: 1.1em;*/
     border-bottom: 3px solid #721124;
}
.menu .logo{
    width: 300px;
    height: 100px;
    margin-top: 0;
}
.menu .logo:hover >a{
    border: none;
    
}

/*header*------------------------------------/*/

#main{
    width: 100%;
    height: 700px;
    text-align: center;
/*    position: relative;*/
/*    border: 1px solid #000;*/
}
.images{
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.box{
    width: 60%;
    height: 60%;
    margin: 180px auto;
    padding: 10px;
    position: relative;
    border: 5px solid #721124;
    box-shadow: 1px 1px 1px 5px white;
}
.images p{
    position: absolute;
    top: 30%;
    width: 100%;
margin: 0 auto;
    font-size: 2em;
    text-align: center;
    color: white;
   margin: 0;
    padding: 0;

/*    transform: scaleX(0);*/
}
/*
.on{
    transform: scaleX(1);
    transition: all .1s ease-in;
}
*/
.images>.slide1{
     width: 100%;
    height: 700px;
    background-image: url(image/slide1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}
.images>.slide2{
    width: 100%;
    height: 700px;
    background-image: url(image/slide2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}
.images>.slide3{
    width: 100%;
    height: 700px;
    background-image: url(image/slide3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*main*----------------------------------------/*/

#content1{
    width: 100%;
    height: 600px;
   background-image: url(image/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*
.cw_1{
    width: 1145px;
    height: 460px;
    padding-left: 55px;
    padding-top: 40px;
    position: relative;
    border: 1px solid #000;
}
*/

.tc{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 10%;
   
}
.center{
    width: 450px;
    height: 500px;
    margin: 0 auto;
/*    border: 1px solid #000;*/
    padding-top: 140px;
}
.every{
    width:453px;
    height: 47px;
    margin-bottom: 70px;
}
.pick{
    width:385px;
    height:72px;
    margin-bottom: 50px;
}
.button_1{
    border: 5px solid #721124;
    color: #721124;
    line-height: 60px;
    font-size: 1.5em;
    font-weight: 900;
    width:150px;
    height:60px;
    cursor: pointer;
    margin-bottom: 70px;
}
.button_1:hover{
    background-color: #721124;
    color: #f1d2ac;
    transition: all 1s;
}
.special{
    width: 130px;
    height: 100px;
    position: absolute;
    right: 60px;
    top: 70px;
}
.bean{
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*content1---------------------------------------*/

#content2{
    width: 100%;
    height: 600px;
    background-image: url(image/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tm{
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin: auto;
    position: relative;
    top: 150px;
}
.tm1, .tm2{
    position: absolute;
}
.tm2{
    opacity: 0;
    position: relative;
}
.tm:hover .tm1{
    opacity: 0;
     transition: all .8s;
}
.tm:hover .tm2{
    transform: rotateY(180deg);
    transition: all 0.8s;
     opacity: 1;
    
}
 .button_2{
    position: absolute;
    width: 90px;
    height: 30px;
    bottom: 50px;
    left: 100px;
    color: white;
    background-color: #721124;
    border: 5px solid #721124;
    line-height: 30px;
     transform: rotateY(180deg);
     opacity: 0;    
}
.button_2:hover{
    opacity: 1;
    transition: all 1s;
}
/*content2-----------------------------------*/

#content3{
    width: 100%;
    height: 600px;
    background-color: #721124;
}
.innerbox{
    width: 90%;
    height: 80%;
    margin: 0 auto;
   position: relative;
    top: 50px;
    text-align: center;
    border: 10px solid #f1d2ac;
}
.inner{
    width: 1200px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
/*    border: 1px solid #000;*/
}
.inner_1{
    position: relative;
    width: 600px;
    height: 400px;
     float: left;
    
/*    border: 1px solid #fff;*/
    padding: 50px;
}
.membership{
    width: 350px;
    height: 40px;
    position: absolute;
    left: 150px;
}
.icons{
    width: 600px;
    float: left;
    position: absolute;
    left: 60px;
    top: 160px;
}
.icon1{
    background-image: url(image/ICON1.png);
    background-repeat: no-repeat;
}
.icon2{
     background-image: url(image/ICON2.png);
    background-repeat: no-repeat;
}
.icon3{
     background-image: url(image/ICON3.png);
    background-repeat: no-repeat;
}
.icon1, .icon2, .icon3{
    width: 130px;
    height: 130px;
    float: left;
    margin-right: 40px;
    background-color: white;
    border: 10px solid #c32d29;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.con1, .con2, .con3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    color: #be3433;
    line-height: 150px;
    position: absolute;
   top: -10px;
    left: -10px;
    opacity: 0;
    font-weight: 900;
    font-size: 1.2em;
    
}
.icon1:hover .con1, .icon2:hover .con2, .icon3:hover .con3{
    opacity: 1;
    transform: rotate(720deg);
    transition: all .5s;
    
    
}
.button_3{
    position: absolute;
    left: 240px;
    bottom: 70px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    line-height: 60px;
    border: 5px solid #f1d2ac;
    color: #f1d2ac;
    font-size: 1.5em;
}

.button_3:hover{
    background-color: #f1d2ac;
    color: #721124;
    font-weight: 900;
    transition: all 1s;
}
.inner_2{
    width: 400px;
    height: 400px;
     float: left;
    position: relative;
    padding: 50px;
   padding-right: 20px;
/*    opacity: 0;*/

/*    border: 1px solid #fff;*/
}
.card{
    width: 350px;
    height: 200px;
    position: absolute;
    right: 70px;
    top: 100px;
}
.invite{
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    right: 70px;
}
.on{
   opacity: 1;
}
/*content3------------------------------------*/

footer{
    width: 100%;
    height: 200px;
   text-align: center;
    color: #721124;
    background-color: white;
/*    border: 1px solid #000;*/
}
.fw{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
footer p{
    padding-top: 10px;
    height: 20px;
    line-height: 20px;
    font-weight: 900;
}
footer>.flogo{
    width: 300px;
   height: 100px;
   
}
.flogo img{
     cursor: pointer;
}


@media screen and(max-width:640px);
